<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Error <%= @error.id %> reported</h1>
<p>Some more info here</p>
</body>
</html>