<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Error <%= @error.id %> reported</h1>
<p>CaveSurvey:  <%= @error.cave_survey_app['versionName'] %></p>
<p>Device:      <%= @error.android_device['MODEL'] %></p>
<p>Message:     <%= @error.message %></p>
</body>
</html>